<!DOCTYPE html>
<html lang="en"
    th:replace="normal/base :: Layout(~{::section})">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title th:text="${title}"></title>
    </head>
    <body>
        <section>
            <div class="container">
                <div class="card text-white" style="background-color: darkblue;">
                    <div class="card-body text-center">
                        <img style="height: 200px; width: 200px; border-radius:
                            50%;" th:src="@{'/Images/'+${user.imageURL}}"
                            alt="">
                            <div class="table-responsive">
                        <h3 class="mt-4 text-center"><span
                                th:text="${user.name}"></span><spanspan</h3>
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">#USERID</th>
                                    <th scope="col"><span
                                            th:text="${user.id}"></span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Email</th>
                                    <td><span th:text="${user.email}"></span></td>
                                </tr>
                                <tr>
                                    <th scope="row">Role</th>
                                    <td><span th:text="${user.role}"></span></td>
                                </tr>
                                <tr>
                                    <th scope="row">Account Active</th>
                                    <td><span th:text="${user.enabled}"></span></td>
                                </tr>
                                <tr>
                                    <th scope="row">About</th>
                                    <td><span th:text="${user.about}"></span></td>
                                </tr>
                            </tbody>
                        </table>
                            </div>
                    </div>
                    <div class="container text-center">
                        <a
                            style="width: 25%; height: 5vh; font-size: 3vh;" class="btn btn-warning
                             mb-3 mr-5 ml-5 text-dark"
                            th:href="@{/user/profile/edit}">Edit</a>
                    </div>
                </div>
            </div>

            <script>
                $(document).ready(() => {
                   $('.item').removeClass('active');
                   $('#profile').addClass("active");
                })        
            </script>
        </section>
    </body>
</html>