<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base ::
    Layout(~{::section})">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
    </head>
    <body>
        <section>
            <div class="row">
                <div class="col-md-8 offset-md-2 mt-4">
                    <div class="card text-white mr-1 ml-1" style="background-color: darkblue;">
                        <div class="card-body">
                            <div class="container text-center">
                                <div class="alert" role="alert"
                                    th:if="${session.msg}"
                                    th:classappend="${'alert-' +
                                    session.msg.type}">
                                    <th:block th
                                        th:text="${session.msg.content}"></th:block>
                                    <th:block
                                        th:text="${@sessionHelper.removeAttributeFromSession()}"></th:block>
                                </div>
                            </div>
                            <h3 class="text-center">Forgot Password</h3>
                            <div class="container">
                                <div class="form-group">
                                    <form action="" th:action="@{/sendOTP}"
                                        method="post">
                                        <div class="form-group mt-5">
                                            <label for="email">Please Enter
                                                Registered Email</label>
                                            <input class="form-control"
                                                id="email" type="email" required
                                                name="email">
                                        </div>
                                        <div class="container text-center">
                                            <button type="submit" class="btn
                                                btn-success">Send OTP</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>